<html>

<head>
    <title>FMG - 404!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="hero-unit">
            <h1>404 🤷‍♂️</h1>
            <h2>Not found</h2>
        </div>
    </div>
    <center><a href="/">damsleth.no</a>
</body>

</html>